</div>

<div class="divider_bar"></div>

<footer>
    <hr><hr>
    <p>Site created by Nathan Warren-Acord</p>
    The information presented here has been sourced from external resources and personal experience (or is outright farcical). No claim of ownership is made to any idea, concept, or phrase mentioned. I am in no way affiliated with any of the sources mentioned throughout.
    <p>For educational purposes.</p>
</footer>

</body>
</html>