<div class="navbar">
    <a href="/#">Home</a>
    <a href="/prototyping">Prototyping</a>
    <a href="/design_patterns">Design Patterns</a>
    <a href="/dev_tools">Dev Tools</a>
    <a href="/game_ai">Game "AI"</a>
    <a href="/sources" id="sources">Sources</a>
</div>

<div class="divider_bar"></div>

<div class="body_content">